@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (primary: mat.$green-palette, tertiary: mat.$green-palette),
    typography: Manrope,
    density: 0
  ));
  --mat-sys-primary: #22634e;
  --mat-sys-on-primary: #ffffff;
  --mat-sys-primary-container: #eaf2ed;
  --mat-sys-on-primary-container: #204c3d;
  --mat-sys-surface: #ffffff;
  --mat-sys-on-surface: #24332e;
  --mat-sys-outline: #75867d;
}
